[submodule "LIFD_ImageSegmentation"]
	path = LIFD_ImageSegmentation
	url = git@github.com:cemac/LIFD_ImageSegmentation.git
	branch = main
[submodule "LIFD_Torch_PINNS"]
	path = LIFD_Torch_PINNS
	url = git@github.com:cemac/LIFD_Torch_PINNS.git
	branch = main
[submodule "LIFD_DesignOptimisation"]
	path = LIFD_DesignOptimisation
	url = git@github.com:cemac/LIFD_DesignOptimisation.git
[submodule "LIFD_TorchAutoEncoders"]
	path = LIFD_TorchAutoEncoders
	url = git@github.com:cemac/LIFD_TorchAutoEncoders.git
[submodule "LIFD_ModalDecomposition"]
	path = LIFD_ModalDecomposition
	url = git@github.com:cemac/LIFD_ModalDecomposition.git
